<header>
  <div>
    <h1 classname="logo" style="margin:0px;">Blog Site!</h1>
    <p>The Best Platform for Blogs.</p>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new">New Blog</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </nav>
</header>
<hr>