<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta inventore accusamus esse officiis, ut laborum. Incidunt minus aliquid quia ipsam magni libero vel! Corporis, ab quo voluptatem accusantium fugiat deserunt.</p>
  </main>
  <%- include("./partials/footer.ejs") %>
</body>
</html>