<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
  <main>
    <p>Server Error</p>
  </main>
  <%- include("./partials/footer.ejs") %>
</body>
</html>